@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

:root{
  --primary-color: #74c69d;
  --light-color: #fff;
  --dark-color: #212529;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9375rem;
}

.heading1, .heading2, .heading3, .heading4, .heading5, .heading6{
  font-family: 'Crimson Text', serif;
  font-weight: 700;
}

.heading1{
  font-size: 2.5rem;
}

.heading2{
  font-size: 2rem;
}

.heading3{
  font-size: 1.75rem;
}

.heading4{
  font-size: 1.5rem;
}

.heading5{
  font-size: 1.25rem;
}

.heading6{
  font-size: 1rem;
}

.sub-heading{
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.body{
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9375rem;
}

.label{
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.btn{
  display: inline-block;
  padding: 13px 47.5px;
  border-radius: 5px;
  cursor: pointer;
  background: #000;
  color: var(--light-color);
}